* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #fff;
  font-size: 3em;
}

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

img.bookcover {
  height: 300px;
  width: auto;
}
