{% extends "_base.html" %}
{% block title %}
  {{ lesson.title }}
{% endblock title %}
{% block content %}
  <div class="card" style="width: 18rem;">
    <img src="{{ lesson.cover.url }}"
         class="card-img-top"
         alt="{{ lesson.title }}">
    <div class="card-body">
      <h5 class="card-title">{{ lesson.title }}</h5>
      <p class="card-text">{{ lesson.text }}</p>
      <a href="#" class="btn btn-primary" id="lesson-{{ lesson.id }}"  onclick="addToCart(this.id)">Selectionner</a>
    </div>
  </div>
{% endblock content %}
