{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>
      {% block title %}
        Driving school
      {% endblock title %}
    </title>
    <script src="{% static 'js/aos.2.3.4.js' %}"
            integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
          type="image/png"
          href="{% static 'images/favicon.png' %}">
    <!-- CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}"
          rel="stylesheet"
          integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg=="
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.2.3.4.css' %}">
    <!-- CSS -->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark ">
      <div class="container-fluid">
        <a class="navbar-brand  smooth-scroll notranslate"
           href="{% url 'home' %}">Driving school</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">À propos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">Liens</a>
              <ul class="dropdown-menu  bg-dark">
                <li>
                  <a class="dropdown-item text-light" href="{% url 'lessons_list' %}">Leçons</a>
                </li>
                <li>
                  <a class="dropdown-item text-light" href="#">Moniteurs</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item  text-light" href="#">Actualité</a>
                </li>
              </ul>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Se déconnecter</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Se connecter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">S'inscrire</a>
              </li>
            </div>
          {% endif %}
        </ul>
      </div>
  </nav>
  <div class="container-fluid">
    {% block content %}
    {% endblock content %}
  </div>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"
          integrity="sha512-VK2zcvntEufaimc+efOYi622VN5ZacdnufnmX7zIhCPmjhKnOi9ZDMtg1/ug5l183f19gG1/cBstPO4D8N/Img=="
          crossorigin="anonymous"></script>
  <!-- JavaScript -->
  <script src="{% static 'js/jquery.3.7.0.min.js' %}"></script>
  <script defer src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/fontawesome.all.min.js' %}"></script>
</body>
</html>
