{% extends "_base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="col-md-6 col-lg-6 order-lg-1 d-md-flex flex-column justify-content-center">
  <div>
    <h1>Leçons de conduite à Paris</h1>

    <p>
    <p>Il est essentiel de savoir conduire, que ce soit pour des raisons pratiques, comme aller chercher les enfants à
      l'école,
      ou pour s'amuser, comme planifier un voyage à l'étranger. Si vous devez conduire pour le travail ou si vous voulez
      simplement conduire pour le plaisir, le permis de conduire peut être votre ticket pour le plaisir, la liberté et
      l'indépendance.</p>
    </p>
    <div>
      <div>Appelez-nous maintenant ou réservez en ligne 24/7</div>
      <div class="telephone"><i class="fa-solid fa-phone"></i> <a href="tel:+33144626215  ">+33144626215</a> </div>
    </div>
    <div>
      <div
        class="item"
        data-aos="fade-up"
      >1</div>
      <div
        class="item"
        data-aos="fade-down"
      >2</div>
      <div
        class="item"
        data-aos="fade-right"
      >3</div>
      <div
        class="item"
        data-aos="fade-left"
      >4</div>

      <div
        class="item"
        data-aos="zoom-in"
      >5</div>
      <div
        class="item"
        data-aos="zoom-out"
      >6</div>

      <div
        class="item"
        data-aos="slide-up"
      >7</div>

      <div
        class="item"
        data-aos="flip-up"
      >8</div>
      <div
        class="item"
        data-aos="flip-down"
      >9</div>
      <div
        class="item"
        data-aos="flip-right"
      >10</div>
      <div
        class="item"
        data-aos="flip-left"
      >11</div>

    </div>
  </div>
</div>
<img
  class="bookcover"
  src="{% static 'images/driving_school.png' %}"
>
{% endblock content %}